

  <div class="welcome">
    <h1>Overalls Overflow</h1>
    <h3>For all your overalls dicussions...</h3>
  </div>
  <div class="questions_on_index">
    <h3 class="h3_index">Current questions:</h3>

    <% @questions.each do |question| %>
      <p><%= link_to question.title, question_path(question) %></p>
    <% end %>
  </div>

  <%= link_to 'Add new question', new_question_path %>


